<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <link rel="stylesheet" href="./css/style-bonus.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="root" class="wrapper">
      <header>
        <img src="./img/logo.png" alt="logo" class="logo"/>
      </header>

      <main>
        <!-- contiene input utente -->
        <div class="userInput-container sectionPadding">
          <!-- input che riceve il nuovo todo -->
          <input
            type="text"
            id="newTodoItem"
            name="newTodoItem"
            v-model="todoItem"
            @keyup.enter="handleAddNewItem"
            placeholder="Nuovo Todo"
          />
          <!-- pulsante che invia il nuovo to do a data -->
          <button @click="handleAddNewItem">Aggiungi</button>
        </div>

          <!-- input che riceve il nuovo todo -->
        <div class="todoList-container sectionPadding">
          <!-- lista todoList -->
          <ul class="sectionPadding">
            <li v-for="(todoItem, itemIndex) in todoList">
                <span class="todoListItem">{{todoItem}}</span>
              <span class="deleteItem" @click="handleDeleteItem(itemIndex)">X</span>
            </li>
          </ul>
        </div>
      </main>
    </div>

    <script src="./js/script-bonus.js"></script>
  </body>
</html>
